* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
section {
  margin: 20px 0;
}
.card-text {
  color: #212529;
}
.card-text .worker-text {
  color: #fff;
}
.card-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.card-link:hover {
  color: #fff;
  border-bottom: 1px solid #565e64;
}
.card-button {
  padding: 2px 5px;
}
.card-button-edit {
  margin-right: 5px;
}
.card-img-top {
  height: 130px;
  margin-top: 10px;
}
.form-error {
  color: #dc3545;
}
.form-elem {
  margin-bottom: 20px;
}
.form-elem input, .form-elem input:focus, .form-control, .form-control:focus {
  border: 1px solid #0d6efd;
  padding: 5px;
  border-radius: .25rem;
}
.form-elem input:focus, .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  outline: none;
}
.form-elem input, .search-reset {
  margin-left: 5px;
}
.search-input {
  margin-right: 5px;
}
@media all and (min-width: 768px) {
  .md-justify-content-end {
    justify-content: flex-end;
  }
}
