section {
  margin: 20px 0;
}
.card-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.card-link:hover {
  color: #fff;
  border-bottom: 1px solid #565e64;
}
.card-button {
  padding: 2px 5px;
}
.card-button-edit {
  margin-right: 5px;
}
.card-img-top {
  height: 130px;
  margin-top: 10px;
}