* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}
body {
  background: #7e939f;
}
img {
  max-width: 100%;
}
.container--main {
  width: 70%;
  margin-right: 20%;
  position: relative;
  transform: translateX(0);
}
aside {
  width: 20%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -20%;
  padding: 0 50px;
}
.text-right {
  text-align: right;
}
.search {
  position: relative;
  margin-top: 48px;
}
.search__img {
  position: absolute;
  right: 13px;
  top: 13px;
}
.card {
  background: #2d2f44;
  border-radius: 13px;
  color: #fff;
  padding: 20px 22px;
}
.card__img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
.card__name {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-top: 24px;
}
.card__lastname {
  font-size: 24px;
}
.card__position {
  font-size: 14px;
  margin: 19px 0;
}
.card__salary {
  font-size: 24px;
}
.card__date {
  text-align: center;
  margin-top: 63px;
  font-size: 16px;
}
.form-check-inline:last-child {
  margin-right: 0;
}
.salary-range {
  background: #2d2f44;
  border-radius: 10px;
}
.salary-range .input-text {
  width: 50%;
}
@media all and (min-width: 768px) {
  .md-justify-content-end {
    justify-content: flex-end;
  }
}
