* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
h3 {
  font-weight: 700;
}
body {
  background: #7e939f;
  color: #fdf1f1;
}
img {
  max-width: 100%;
}
.text-right {
  text-align: right;
}
.form-staff {
  background: #2d2f44;
  border-radius: 20px;
  margin: 144px auto;
  width: 100%;
  max-width: 610px;
  text-align: center;
  padding: 38px 0;
  position: relative;
}
.form-staff__elem {
  margin-top: 28px;
}
.form-staff__text {
  display: block;
  margin-bottom: 10px;
}
.form-staff__btn {
  margin-top: 38px;
}
.form-staff__error {
  color: #c05e5e;
  margin-top: 10px;
}
.h-100 {
  min-height: 100vh;
}
.pos-relative {
  position: relative;
}
@media (min-width: 768px) {
  .d-md-flex {
    display: flex;
  }
}
