.worker {
  margin: 15px 38px;
  width: 260px;
}
.card {
  background: #2d2f44;
  border-radius: 13px;
  padding: 20px 22px;
  width: 260px;
}
.bg-dark {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.74);
}
.card__img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  position: relative;
  top: -5px;
}
.card__name {
  font-size: 18px;
  margin-top: 17.16px;
  font-weight: 700;
}
.card__lastname {
  font-size: 24px;
  font-weight: 700;
}
.card__position {
  font-size: 14px;
  margin: 15px 0;
}
.card__salary {
  font-size: 24px;
}
.card__date {
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .worker:nth-child(3n + 1) {
    margin-left: 0;
  }
  .worker:nth-child(3n) {
    margin-right: 0;
    margin-left: 38px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .worker:nth-child(2n + 1) {
    margin-left: 0;
  }
  .worker:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .worker {
    margin: 15px 0;
  }
}
