.input-text {
  background: #fdf7f7;
  color: #2d2f44;
  border-radius: 15px;
  outline: none;
  border: none;
  text-transform: none;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 280px;
  padding: 11px 17px;
  font-size: 14px;
  margin-top: 10px;
}
.input-text--search {
  border-radius: 25px;
  border: 10px solid #2d2f44;
  width: calc(100% - 40px);
  max-width: 100%;
  margin: 0;
  padding: 7px 15px;
}
.input-text--salary {
  margin: 0;
  width: 50px;
  margin-top: 17px;
  padding: 7px 11px;
  text-align: center;
}
.input-elem--salary:nth-of-type(2) {
  margin-left: 28px;
}
