.input-text {
  background: #fdf7f7;
  border-radius: 15px;
  outline: none;
  border: none;
  text-transform: none;
  padding: 7px 15px;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 280px;
}
.input-text--search {
  border-radius: 25px;
  border: 10px solid #2d2f44;
  width: calc(100% - 40px);
  max-width: 100%;
  margin: 0;
}
