.wrap {
  max-width: 1488px;
  margin: 0 auto;
  position: relative;
}
.container--main {
  position: relative;
  width: 944px;
  margin-right: 272px;
}
.cards {
  display: flex;
}
.aside-panel {
  right: 0;
  position: absolute;
  top: 0;
}
.aside-panel__block {
  width: 272px;
  padding: 15px 46px;
}
.menu {
  display: none;
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 320px;
  top: 65px;
  z-index: 2;
  background: #442d3b;
  border-radius: 15px;
}
.menu--open {
  display: block;
}
.menu .salary-filter,
.menu .status-filter {
  background: none;
  margin: 0;
  padding: 20px 0;
}
.menu .btn {
  margin: 20px 0;
}
.top-line .select-elem {
  margin: 0;
}
@media (max-width: 1199px) {
  .container--main {
    width: 620px;
  }
}
@media (max-width: 991px) {
  .container--main {
    width: 620px;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .container--main {
    width: 284px;
  }
}
