.wrap {
  position: relative;
}
.container--main {
  width: 65%;
}
@media (min-width: 768px) {
  .container--main {
    margin-right: 25%;
  }
}
aside {
  width: 25%;
  position: absolute;
  top: 0;
  right: 46px;
  padding: 0 3%;
}
.pos-fixed {
  position: fixed;
  padding: 0 3%;
}
@media (min-width: 992px) {
  aside {
    padding: 0 46px;
  }
  .pos-fixed {
    padding: 0 46px;
  }
}
