.btn {
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 13px 27px;
  background: #73b469;
  color: #fff;
  font-weight: 700;
}
.btn:hover,
.btn:disabled {
  background: #679f5e;
}
.btn--warning {
  background: #e4a648;
}
.btn--warning:hover,
.btn--warning:disabled {
  background: #ce9744;
}
.btn--error {
  background: #c05e5e;
}
.btn--error:hover,
.btn--error:disabled {
  background: #ac5555;
}
.btn--small {
  border-radius: 5px;
  padding: 4px 7px;
}
.btn--add,
.btn--add:hover {
  background-image: url(../../images/add.svg);
  background-repeat: no-repeat;
  background-position: 19px center;
  padding-left: 56px;
}
.btn:disabled,
.btn--disabled {
  color: #333;
}
.btn--form {
  width: 100%;
  max-width: 280px;
  font-size: 14px;
}
.btn--modal {
  margin: 0 29px;
  width: 270px;
  text-transform: none;
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .btn--modal {
    margin: 0 10px;
    width: auto;
    padding: 13px;
  }
}
.btn--menu,
.btn--menu:hover {
  background: none;
  padding: 0;
}
.btn--back {
  background: #2d2f44;
  padding: 19px 28px;
  position: absolute;
  left: -100px;
  top: 0;
}
